img {
  max-width: 100%;
}

body {
  background-color: #f59f7a;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 100%;
  left: 60%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("dreng_spiser_slik_2.mp4") black no-repeat center center
      scroll;
  }
  header video {
    display: none;
  }
}

.navbar-brand {
  font-family: "Lobster";
  font-size: 3em;
  text-shadow: 4px 0px #abaff5;
  font-weight: normal;
  color: white !important;
}

.display-3 {
  font-family: "Lobster", cursive;
  font-size: 5em;
  color: white;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3em;
}

.navbar {
  background-color: #f59f7a !important;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: bold;
}

nav a:hover {
  color: #f5e08e !important;
}

a {
  color: white !important;
}

p {
  font-family: Helvetica, sans-serif;
}
