img {
  max-width: 100%;
}

body {
  background-color: #f59f7a;
}

header {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  max-width: 100%;
}

header .container {
  position: relative;
  z-index: 2;
}

@media (pointer: coarse) and (hover: none) {
  header video {
    display: none;
  }
}

.navbar-brand {
  font-family: "Lobster";
  font-size: 3em;
  text-shadow: 4px 0px #abaff5;
  font-weight: normal;
  color: white !important;
}

.display-3 {
  font-family: "Lobster", cursive;
  font-size: 5em;
  color: white;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3em;
  margin-bottom: 40px;
}

.navbar {
  background-color: #f59f7a !important;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 10px 10px 0 rgba(136, 136, 136, 0.1);
}

nav a:hover {
  color: white !important;
}

a {
  color: #f5e08e !important;
  font-weight: bold;
  margin-right: 40px;
}

p {
  font-family: Helvetica, sans-serif;
}

#join h1,
#produkter h1 {
  text-align: right;
}

#join,
#produkter {
  background-color: #abaff5;
}

#mission,
#produkter,
#ingredienser,
#join {
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 700px;
  padding: 50px;
}

#section10 {
  position: relative;
  padding-top: 60px;
}
#section10 span {
  position: absolute;
  top: 400%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

footer {
  margin: 40px;
  color: white;
  font-style: italic;
}

.op-0 {
  opacity: 0;
}

#section10,
#produkter {
  opacity: 1;
}

.zoom {
  transition: transform 0.5s; /* Animation */
  margin: 0 auto;
  max-height: 18vh;
  max-width: 18vw;
}

.zoom:hover {
  animation: tada;
  animation-duration: 1.2s;
}

#join img {
  cursor: pointer;
}

#produkter {
  position: relative;
  padding: 20px;
}

.p3 {
  width: 100%;
  left: 20%;
}
.p2 {
  width: 100%;
  left: 50%;
}
.p1 {
  width: 100%;
  z-index: 1000;
  left: 80%;
}
