img {
  max-width: 100%;
}

body {
  background-color: #f59f7a;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 100%;
  left: 60%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("dreng_spiser_slik_2.mp4") black no-repeat center center
      scroll;
  }
  header video {
    display: none;
  }
}

.navbar-brand {
  font-family: "Lobster";
  font-size: 3em;
  text-shadow: 4px 0px #abaff5;
  font-weight: normal;
  color: white !important;
}

.display-3 {
  font-family: "Lobster", cursive;
  font-size: 5em;
  color: white;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 3em;
  margin-bottom: 40px;
}

.navbar {
  background-color: #f59f7a !important;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  box-shadow: 0 10px 10px 0 rgba(136, 136, 136, 0.1);
}

nav a:hover {
  color: #f5e08e !important;
}

a {
  color: white !important;
}

p {
  font-family: Helvetica, sans-serif;
}

#join h1,
#produkter h1 {
  text-align: right;
}

#join,
#produkter {
  background-color: #abaff5;
}

#mission,
#produkter,
#ingredienser,
#join {
  margin-top: 250px;
  margin-bottom: 250px;
  min-height: 700px;
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
